



@font-face {
    font-family: 'BMDOHYEON_ttf';
    src: url('../fonts/BMDOHYEON_ttf.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BMEuljiro10yearslater';
    src: url('../fonts/BMEuljiro10yearslater.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BMEuljirooraeorae';
    src: url('../fonts/BMEuljirooraeorae.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BMEULJIROTTF';
    src: url('../fonts/BMEULJIROTTF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BMHANNA_11yrs_ttf';
    src: url('../fonts/BMHANNA_11yrs_ttf.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BMHANNAPro';
    src: url('../fonts/BMHANNAPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'BMJUA_ttf';
    src: url('../fonts/BMJUA_ttf.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BMKIRANGHAERANG-TTF';
    src: url('../fonts/BMKIRANGHAERANG-TTF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'BMKkubulimTTF';
    src: url('../fonts/BMKkubulimTTF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
  font-family: 'BMYEONSUNG_ttf';
  src: url('../fonts/BMYEONSUNG_ttf.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

